{% extends 'layout.html' %}
{% block content%}
    <div class="posts-container">
    {% for post in posts %}
        
        {% set username = User.query.filter(User.id == post['user_id']).first()['username'] %}
        {% set content = post['content'] %}
        {% set id = str(post['id']) %}
        {% set title_photo = os.path.join(post_images_folder, id, 'title_photo.jpg') %}
        
        <div class="post">
            <a href={{ "post/" + str(post['id']) }}><h3 class="post-header">{{ post['title'] }}</h3></a>
            <div class="post-info">
                <div class="user-info-container">
                    <a href={{'profile/' + username}}>
                        <img class="post-author-img" src="{{ url_for('static', filename='images/users_photos/' + username + '.jpg') }}">
                        <span class="post-author">{{ username }}</span>
                    </a>
                </div>
                <div class="post-date-container">
                    <div class="post-date">{{ time_format(post['postdate']) + " назад" }}</div>
                </div>
            </div>
            {% if os.path.realpath(title_photo) %}
                <img class="post-title-photo" src={{ title_photo }}>
            {% else %}
                {% if len(content) > 240 %}
                    <p class="description">{{ content[:240].rstrip().rstrip('.').rstrip(',') + '...' }}</p>
                {% else %}
                    <p class="description">{{ content }}</p>
                {% endif %}
            {% endif %}
        </div>
    {% endfor %}
{% endblock %}

