{% extends 'layout.html' %}
{% block content %}
    <div class="profile-container">
        <div class="user">
            <img class="user-photo" src="{{ url_for('static', filename='images/users_photos/' + current_user.username + '.jpg') }}">
            <div class="user-info">
                <div class="top">
                    <h1 class="username">{{ username }}
                        <span class="last-online">
                            {% if current_user.is_authenticated%}
                                <span class="is-online">В сети</span>
                            {% else %}
                                {{ "Последний раз заходил" + time_format(current_user.last_online_date) }}
                            {% endif %}
                        </span>
                    </h1>
                    <div class="profile-edit-container">
                        <a class="profile-edit" href="/profile-edit">Изменить профиль</a>
                    </div>
                </div>
                <div class="register-date">{{ "Пользуется Py-Blog уже " + time_format(current_user.register_date) }}</div>
                
                {% if current_user.description %}
                    <div class=discription>{{ current_user.description }}</div>
                {% endif %}
            </div>
        </div>
        {% if username == current_user.username %}
        <a class="post-create-button" href="/post-create">Новая запись</a>
        {% endif %}
    </div>
{% endblock %}